.DGMagenta {
    color: hsl(303, 10%, 53%);
}
.VDMagenta{
    color: hsl(300, 43%, 22%);
}
.SPink {
    color: hsl(333, 80%, 67%);
}
.LGMagenta {
    color: hsl(300, 24%, 96%);
}
body{
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(300, 24%, 96%);
    background-position: top left,  right top;
    padding: 7%;

    font-family: Spartan, serif;
}
.container-1{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 70px;
    color: hsl(300, 43%, 22%);
}

.intro{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    font-weight: 500;
}

.in-like{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
    grid-column: 1/15;
}

.in-text{
    grid-column: 1/14;
}

.stars{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.stars > div{
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    background-color: hsl(303, 10%, 53%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    align-items: center;
}
.stars span{
    padding-left: 20px;
}
.star1{
    display: grid;
    grid-column: 4/17;
    grid-row: 1;
}
.star2{
    display: grid;
    grid-column: 5/18;
    grid-row: 2;
}
.star3{
    display: grid;
    grid-column: 6/19;
    grid-row: 3;
}

.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    margin-bottom: 30px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: repeat(9, 1fr);
}

.container-2 > div{
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
}

.profl-1{
    display: grid;
    grid-row: 1/7;
    color: white;
}
.profl-2{
    display: grid;
    grid-row: 2/8;
    color: white;
}
.profl-3{
    display: grid;
    grid-row: 3/9;
    color: white;
}

.container-2 .profile{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 20px;
}

.profile div{
    font-weight: 600;
    align-self: end;
}

.profile span{
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}

.container-2 img{
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 375px){

    body {
        display: inherit;
        background-color: yellow;
    }
    .container-1{
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 70px;
        color: hsl(300, 43%, 22%);
    }

    .intro{
        display: grid;
        grid-template-columns: 100%;
        font-weight: 500;
    }

    .in-like{
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 10px;
        grid-template-columns: 100%;
    }

    .in-text{
        grid-template-columns: 100%;
    }

    .stars{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .stars > div{
        border-radius: 5px;
        padding: 5px;
        padding-left: 20px;
        background-color: hsl(303, 10%, 53%);
        color: hsl(300, 43%, 22%);
        font-weight: 700;
        align-items: center;
    }
    .stars span{
        padding-left: 20px;
    }
    .star1{
        display: grid;
        grid-template-columns: 100%;

    }
    .star2{
        display: grid;
        grid-column: 5/18;

    }
    .star3{
        display: grid;
        grid-column: 6/19;

    }

    .container-2{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0em;
        margin-bottom: 30px;

    }

    .container-2 > div{
        background-color: hsl(300, 43%, 22%);
        padding: 30px;
        border-radius: 10px;
    }

    .profl-1{
        display: grid;

        color: white;
    }
    .profl-2{
        display: grid;

        color: white;
    }
    .profl-3{
        display: grid;

        color: white;
    }

    .container-2 .profile{
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 20px;
    }

    .profile div{
        font-weight: 600;
        align-self: end;
    }

    .profile span{
        font-weight: 400;
        color: hsl(333, 80%, 67%);
    }

    .container-2 img{
        height: 50px;
        border-radius: 50%;
    }
}